XSB/*.tmp
XSB/.xsb
XSB/admin/windows/*.exe
XSB/admin/windows/Output
XSB/bin/chr_pp
XSB/bin/chr_pp-*
XSB/bin/xsb
XSB/bin/xsb-*
XSB/build/*.*#
XSB/build/*.*~
XSB/build/*.bak
XSB/build/*.cache
XSB/build/*.log
XSB/build/*.status
XSB/build/*.xwam
XSB/build/.*.tmp
XSB/build/Installation*
XSB/build/MS_VC_Mfile.mak
XSB/build/config.status.lineno
XSB/build/makexsb
XSB/build/odbc/*.*#
XSB/build/odbc/*.*~
XSB/build/windows/*.*#
XSB/build/windows/*.*~
XSB/build/windows/custom_settings.mak
XSB/build/windows64/*.*#
XSB/build/windows64/*.*~
XSB/build/windows64/custom_settings.mak
XSB/build/xsb_wrap_smodels.c
XSB/cmplib/ChangeLog
XSB/cmplib/cmd...
XSB/cmplib/o.diff
XSB/cmplib/objfiles.saved
XSB/config
XSB/docs/techman/auto
XSB/docs/userman/*.*~
XSB/docs/userman/*.aux
XSB/docs/userman/*.bbl
XSB/docs/userman/*.blg
XSB/docs/userman/*.bst
XSB/docs/userman/*.def
XSB/docs/userman/*.dvi
XSB/docs/userman/*.idx
XSB/docs/userman/*.ilg
XSB/docs/userman/*.ind
XSB/docs/userman/*.log
XSB/docs/userman/*.out
XSB/docs/userman/*.pdf
XSB/docs/userman/*.pdx
XSB/docs/userman/*.pnd
XSB/docs/userman/*.prdx
XSB/docs/userman/*.ps
XSB/docs/userman/*.sty
XSB/docs/userman/*.toc
XSB/docs/userman/auto
XSB/docs/userman/auto/*.*~
XSB/docs/userman/auto/*.el
XSB/docs/userman/cdf/*.*~
XSB/docs/userman/manual1
XSB/docs/userman/manual1.dvi
XSB/docs/userman/manual2
XSB/docs/userman/odbc_man/*.*~
XSB/docs/userman/odbc_man/auto
XSB/emu/*.*-sv
XSB/emu/*.*~
XSB/emu/*.bak
XSB/emu/*.lnk
XSB/emu/*.o
XSB/emu/ChangeLog
XSB/emu/MS_VC_Mfile.mak
XSB/emu/Makefile
XSB/emu/a.out
XSB/emu/dde/*.*~
XSB/emu/dde/*.bak
XSB/emu/dde/*.o
XSB/emu/debugs/*.*~
XSB/emu/debugs/*.bak
XSB/emu/debugs/*.o
XSB/emu/debugs/xsb_debug.h
XSB/emu/ms_vc_mfile.mak
XSB/emu/msvc_makefile.mak
XSB/emu/orastuff.c
XSB/emu/orastuff/*.*~
XSB/emu/orastuff/*.bak
XSB/emu/orastuff/*.o
XSB/emu/private_builtin.*
XSB/etc/config.msg
XSB/examples/*.o
XSB/examples/*.xwam
XSB/examples/XSB_calling_c/*.def
XSB/examples/XSB_calling_c/*.dll
XSB/examples/XSB_calling_c/*.exp
XSB/examples/XSB_calling_c/*.idb
XSB/examples/XSB_calling_c/*.ilk
XSB/examples/XSB_calling_c/*.lib
XSB/examples/XSB_calling_c/*.o
XSB/examples/XSB_calling_c/*.pdb
XSB/examples/XSB_calling_c/*.stackdump
XSB/examples/XSB_calling_c/*.xwam
XSB/examples/c_calling_XSB/*.exe
XSB/examples/c_calling_XSB/*.o
XSB/examples/c_calling_XSB/*.obj
XSB/examples/c_calling_XSB/*.xwam
XSB/examples/c_calling_XSB/*mytest*
XSB/examples/c_calling_XSB/cfstest
XSB/examples/c_calling_XSB/cretest
XSB/examples/c_calling_XSB/cvstest
XSB/examples/curl/*.xwam
XSB/examples/curl/actualoutput*
XSB/examples/curl/out.pnm
XSB/examples/libwww/*.o
XSB/examples/libwww/*.out
XSB/examples/libwww/*.xwam
XSB/examples/rdf/*.xwam
XSB/examples/rdf/actualoutput
XSB/examples/sgml/*.xwam
XSB/examples/sgml/actualoutput*
XSB/examples/sgml/out.pnm
XSB/examples/socket/*.xwam
XSB/examples/socket/select/*.xwam
XSB/examples/subprocess/*.xwam
XSB/examples/xmc/*.err
XSB/examples/xmc/*.o
XSB/examples/xmc/*.xlo
XSB/examples/xmc/*.xwam
XSB/examples/xmc/ABP/*.O
XSB/examples/xmc/ABP/*.err
XSB/examples/xmc/ABP/*.o
XSB/examples/xmc/ABP/*.xlo
XSB/examples/xmc/Iproto/*.O
XSB/examples/xmc/Iproto/*.err
XSB/examples/xmc/Iproto/*.o
XSB/examples/xmc/Iproto/*.xlo
XSB/examples/xmc/Leader/*.O
XSB/examples/xmc/Leader/*.err
XSB/examples/xmc/Leader/*.o
XSB/examples/xmc/Leader/*.xlo
XSB/examples/xmc/Metalock/*.O
XSB/examples/xmc/Metalock/*.err
XSB/examples/xmc/Metalock/*.o
XSB/examples/xmc/Metalock/*.xlo
XSB/examples/xmc/Rether/*.O
XSB/examples/xmc/Rether/*.err
XSB/examples/xmc/Rether/*.o
XSB/examples/xmc/Rether/*.xlo
XSB/examples/xmc/Sieve/*.O
XSB/examples/xmc/Sieve/*.err
XSB/examples/xmc/Sieve/*.o
XSB/examples/xmc/Sieve/*.xlo
XSB/examples/xmc/Tests/*.O
XSB/examples/xmc/Tests/*.err
XSB/examples/xmc/Tests/*.o
XSB/examples/xmc/Tests/*.xlo
XSB/examples/xmc/log1
XSB/examples/xmc/log2
XSB/examples/xpath/*.xwam
XSB/examples/xpath/actualoutput*
XSB/gpp/*.pch
XSB/gpp/Makefile
XSB/gpp/Makefile.lnk
XSB/installer/*.class
XSB/lib/*.xwam
XSB/lib/ChangeLog
XSB/lib/cmd...
XSB/lib/o.diff
XSB/obj.*
XSB/packages/*.lnk
XSB/packages/*.xwam
XSB/packages/CDF/*.xwam
XSB/packages/CDF/doc/*.ascii
XSB/packages/CDF/doc/*.aux
XSB/packages/CDF/doc/*.blg
XSB/packages/CDF/doc/*.co
XSB/packages/CDF/doc/*.cp
XSB/packages/CDF/doc/*.cps
XSB/packages/CDF/doc/*.fn
XSB/packages/CDF/doc/*.fns
XSB/packages/CDF/doc/*.gl
XSB/packages/CDF/doc/*.gls
XSB/packages/CDF/doc/*.ky
XSB/packages/CDF/doc/*.kys
XSB/packages/CDF/doc/*.log
XSB/packages/CDF/doc/*.op
XSB/packages/CDF/doc/*.pd
XSB/packages/CDF/doc/*.pdf
XSB/packages/CDF/doc/*.pds
XSB/packages/CDF/doc/*.pg
XSB/packages/CDF/doc/*.pgs
XSB/packages/CDF/doc/*.pl
XSB/packages/CDF/doc/*.ps
XSB/packages/CDF/doc/*.refs
XSB/packages/CDF/doc/*.texic
XSB/packages/CDF/doc/*.toc
XSB/packages/CDF/doc/*.tp
XSB/packages/CDF/doc/*.tps
XSB/packages/CDF/doc/*.vr
XSB/packages/CDF/doc/*.vrs
XSB/packages/CDF/doc/*XXXXXX
XSB/packages/CDF/oms_xj.P
XSB/packages/altCDF/*.xwam
XSB/packages/altCDF/cdftp/*.xwam
XSB/packages/altCDF/doc/*.dvi
XSB/packages/altCDF/doc/*.idx
XSB/packages/altCDF/doc/*.log
XSB/packages/altCDF/doc/*.pdx
XSB/packages/altCDF/doc/*.toc
XSB/packages/altCDF/doc/Figures/*.fig
XSB/packages/altCDF/doc/manual.out
XSB/packages/altCDF/doc/manual.pdf
XSB/packages/altCDF/mytest/*.xwam
XSB/packages/altCDF/mytest/cdfcomp1
XSB/packages/altCDF/tests/ce_tests/*.xwam
XSB/packages/bounds/*.xwam
XSB/packages/chr/*.xwam
XSB/packages/chr/ChangeLog
XSB/packages/chr/cmd...
XSB/packages/chr/o.diff
XSB/packages/chr/timeConstraints.P
XSB/packages/clpqr/*.xwam
XSB/packages/curl/*.lineno
XSB/packages/curl/*.log
XSB/packages/curl/*.xwam
XSB/packages/curl/Installation_summary
XSB/packages/curl/autom4te.cache
XSB/packages/curl/cc/*-copy
XSB/packages/curl/cc/*-old
XSB/packages/curl/cc/*.def
XSB/packages/curl/cc/*.exp
XSB/packages/curl/cc/*.lib
XSB/packages/curl/cc/*.xwam
XSB/packages/curl/cc/bin/*-copy
XSB/packages/curl/cc/bin/*-old
XSB/packages/curl/cc/bin64/*-copy
XSB/packages/curl/cc/bin64/*-old
XSB/packages/curl/cc/curl/*-copy
XSB/packages/curl/cc/curl/*-old
XSB/packages/curl/cc/curl/tmp
XSB/packages/curl/cc/curl2pl.H
XSB/packages/curl/config.status
XSB/packages/curl/curl_info.P
XSB/packages/dbdrivers/*.xwam
XSB/packages/dbdrivers/Installation_summary
XSB/packages/dbdrivers/cc/*.xwam
XSB/packages/dbdrivers/cc/driver_manager.def
XSB/packages/dbdrivers/cc/driver_manager.exp
XSB/packages/dbdrivers/cc/driver_manager.lib
XSB/packages/dbdrivers/mysql/*.P-sv*
XSB/packages/dbdrivers/mysql/*.log
XSB/packages/dbdrivers/mysql/*.xwam
XSB/packages/dbdrivers/mysql/Installation_summary
XSB/packages/dbdrivers/mysql/Misc/*.P-sv*
XSB/packages/dbdrivers/mysql/Misc/*.log
XSB/packages/dbdrivers/mysql/autom4te.cache
XSB/packages/dbdrivers/mysql/cc/*.P-sv*
XSB/packages/dbdrivers/mysql/cc/*.log
XSB/packages/dbdrivers/mysql/cc/*.xwam
XSB/packages/dbdrivers/mysql/cc/mysql_driver.H
XSB/packages/dbdrivers/mysql/cc/mysql_driver.def
XSB/packages/dbdrivers/mysql/cc/mysql_driver.exp
XSB/packages/dbdrivers/mysql/cc/mysql_driver.lib
XSB/packages/dbdrivers/mysql/cc/windows64/*.P-sv*
XSB/packages/dbdrivers/mysql/config.status
XSB/packages/dbdrivers/mysql/config.status.lineno
XSB/packages/dbdrivers/mysql/configure.lineno
XSB/packages/dbdrivers/mysql/mysql_init.P
XSB/packages/dbdrivers/mysqlembedded/*.log
XSB/packages/dbdrivers/mysqlembedded/*.xwam
XSB/packages/dbdrivers/mysqlembedded/Installation_summary
XSB/packages/dbdrivers/mysqlembedded/Misc/*.log
XSB/packages/dbdrivers/mysqlembedded/autom4te.cache
XSB/packages/dbdrivers/mysqlembedded/cc/*.log
XSB/packages/dbdrivers/mysqlembedded/cc/*.xwam
XSB/packages/dbdrivers/mysqlembedded/cc/mysql_driver.H
XSB/packages/dbdrivers/mysqlembedded/cc/mysql_driver.def
XSB/packages/dbdrivers/mysqlembedded/cc/mysql_driver.exp
XSB/packages/dbdrivers/mysqlembedded/cc/mysql_driver.lib
XSB/packages/dbdrivers/mysqlembedded/cc/mysqlembedded_driver.H
XSB/packages/dbdrivers/mysqlembedded/config.status
XSB/packages/dbdrivers/mysqlembedded/config.status.lineno
XSB/packages/dbdrivers/mysqlembedded/configure.lineno
XSB/packages/dbdrivers/mysqlembedded/mysql_init.P
XSB/packages/dbdrivers/mysqlembedded/mysqlembedded_init.P
XSB/packages/dbdrivers/odbc/*.xwam
XSB/packages/dbdrivers/odbc/Installation_summary
XSB/packages/dbdrivers/odbc/autom4te.cache
XSB/packages/dbdrivers/odbc/cc/*.xwam
XSB/packages/dbdrivers/odbc/cc/odbc_driver.H
XSB/packages/dbdrivers/odbc/cc/odbc_driver.def
XSB/packages/dbdrivers/odbc/cc/odbc_driver.exp
XSB/packages/dbdrivers/odbc/cc/odbc_driver.lib
XSB/packages/dbdrivers/odbc/cc/odbc_driver.so
XSB/packages/dbdrivers/odbc/config.*
XSB/packages/dbdrivers/odbc/configure.lineno
XSB/packages/dbdrivers/odbc/odbc_init.P
XSB/packages/gap/*.xwam
XSB/packages/justify/*.xwam
XSB/packages/libwww/*.cache
XSB/packages/libwww/*.log
XSB/packages/libwww/*.status
XSB/packages/libwww/*.xwam
XSB/packages/libwww/Installation*
XSB/packages/libwww/cc/*.H
XSB/packages/libwww/cc/*.O
XSB/packages/libwww/cc/*.def
XSB/packages/libwww/cc/*.lib
XSB/packages/libwww/cc/*.o
XSB/packages/libwww/cc/*.obj
XSB/packages/libwww/cc/*.so
XSB/packages/libwww/cmd...
XSB/packages/libwww/libwww_init.P
XSB/packages/minizinc/*.xwam
XSB/packages/minizinc/examples/*.xwam
XSB/packages/pcre/*.log
XSB/packages/pcre/Installation_summary
XSB/packages/pcre/a.out
XSB/packages/pcre/autom4te.cache
XSB/packages/pcre/cc/pcre4pl.H
XSB/packages/pcre/confdefs.h
XSB/packages/pcre/config.status
XSB/packages/pcre/config.status.lineno
XSB/packages/pcre/configure.lineno
XSB/packages/pcre/conftest.c
XSB/packages/pcre/pcre_info.P
XSB/packages/pcre/pcre_info.xwam
XSB/packages/pcre/pcreconfig.xwam
XSB/packages/perlmatch/*.xwam
XSB/packages/perlmatch/cc/*.def
XSB/packages/perlmatch/cc/*.lib
XSB/packages/perlmatch/cc/*.o
XSB/packages/perlmatch/cc/*.obj
XSB/packages/perlmatch/cc/xsbpattern.H
XSB/packages/perlmatch/cc/xsbpattern.xwam
XSB/packages/perlmatch/cmd...
XSB/packages/rdf/*.xwam
XSB/packages/regmatch/*.xwam
XSB/packages/regmatch/cc/*.def
XSB/packages/regmatch/cc/*.lib
XSB/packages/regmatch/cc/*.o
XSB/packages/regmatch/cc/*.obj
XSB/packages/regmatch/cc/*.xwam
XSB/packages/regmatch/cc/xsb_re_match.H
XSB/packages/regmatch/cc/xsb_re_match.O
XSB/packages/regmatch/cmd...
XSB/packages/sgml/*.xwam
XSB/packages/sgml/auto
XSB/packages/sgml/cc/*.O
XSB/packages/sgml/cc/*.def
XSB/packages/sgml/cc/*.dll
XSB/packages/sgml/cc/*.exp
XSB/packages/sgml/cc/*.lib
XSB/packages/sgml/cc/*.o
XSB/packages/sgml/cc/*.obj
XSB/packages/sgml/cc/*.so
XSB/packages/sgml/cc/*.xwam
XSB/packages/sgml/cc/sgml2pl.H
XSB/packages/sgml/cmd...
XSB/packages/slx/*.xwam
XSB/packages/slx/cmd...
XSB/packages/w4/*.xwam
XSB/packages/wildmatch/*.xwam
XSB/packages/wildmatch/cc/*.def
XSB/packages/wildmatch/cc/*.lib
XSB/packages/wildmatch/cc/*.o
XSB/packages/wildmatch/cc/*.obj
XSB/packages/wildmatch/cc/*.xwam
XSB/packages/wildmatch/cc/xsb_wildmatch.H
XSB/packages/wildmatch/cc/xsb_wildmatch.O
XSB/packages/wildmatch/cmd...
XSB/packages/xasp/*.h
XSB/packages/xasp/*.lnk
XSB/packages/xasp/*.o
XSB/packages/xasp/*.so
XSB/packages/xasp/*.xwam
XSB/packages/xasp/Makefile
XSB/packages/xasp/doc/*.ascii
XSB/packages/xasp/doc/*.aux
XSB/packages/xasp/doc/*.blg
XSB/packages/xasp/doc/*.cp
XSB/packages/xasp/doc/*.cps
XSB/packages/xasp/doc/*.fn
XSB/packages/xasp/doc/*.fns
XSB/packages/xasp/doc/*.gl
XSB/packages/xasp/doc/*.gls
XSB/packages/xasp/doc/*.ky
XSB/packages/xasp/doc/*.kys
XSB/packages/xasp/doc/*.log
XSB/packages/xasp/doc/*.pd
XSB/packages/xasp/doc/*.pdf
XSB/packages/xasp/doc/*.pds
XSB/packages/xasp/doc/*.pg
XSB/packages/xasp/doc/*.pgs
XSB/packages/xasp/doc/*.pl
XSB/packages/xasp/doc/*.ps
XSB/packages/xasp/doc/*.refs
XSB/packages/xasp/doc/*.texic
XSB/packages/xasp/doc/*.toc
XSB/packages/xasp/doc/*.tp
XSB/packages/xasp/doc/*.tps
XSB/packages/xasp/doc/*.vr
XSB/packages/xasp/doc/*.vrs
XSB/packages/xasp/intf_examples/*.xwam
XSB/packages/xasp/xsb_wrap_smodels.c
XSB/packages/xmc/*.o
XSB/packages/xmc/*.xwam
XSB/packages/xmc/a.out
XSB/packages/xmc/cmd...
XSB/packages/xmc/lex.yy.c
XSB/packages/xmc/parse
XSB/packages/xmc/xl.tab.c
XSB/packages/xmc/xl.tab.h
XSB/packages/xmc/xlparse.def
XSB/packages/xmc/xmc-gui
XSB/packages/xpath/*.cache
XSB/packages/xpath/*.log
XSB/packages/xpath/*.status
XSB/packages/xpath/*.xwam
XSB/packages/xpath/Installation*
XSB/packages/xpath/cc/*.O
XSB/packages/xpath/cc/*.def
XSB/packages/xpath/cc/*.dll
XSB/packages/xpath/cc/*.exp
XSB/packages/xpath/cc/*.lib
XSB/packages/xpath/cc/*.o
XSB/packages/xpath/cc/*.obj
XSB/packages/xpath/cc/*.so
XSB/packages/xpath/cc/*.xwam
XSB/packages/xpath/cc/xpathparser.H
XSB/packages/xpath/cmd...
XSB/packages/xpath/configure.lineno
XSB/packages/xpath/xpath_init.P
XSB/packages/xsbdoc/*.pl
XSB/packages/xsbdoc/*.xwam
XSB/packages/xsbdoc/doc/*.ascii
XSB/packages/xsbdoc/doc/*.aux
XSB/packages/xsbdoc/doc/*.blg
XSB/packages/xsbdoc/doc/*.co
XSB/packages/xsbdoc/doc/*.cp
XSB/packages/xsbdoc/doc/*.cps
XSB/packages/xsbdoc/doc/*.fn
XSB/packages/xsbdoc/doc/*.fns
XSB/packages/xsbdoc/doc/*.gl
XSB/packages/xsbdoc/doc/*.gls
XSB/packages/xsbdoc/doc/*.ky
XSB/packages/xsbdoc/doc/*.kys
XSB/packages/xsbdoc/doc/*.log
XSB/packages/xsbdoc/doc/*.op
XSB/packages/xsbdoc/doc/*.pd
XSB/packages/xsbdoc/doc/*.pdf
XSB/packages/xsbdoc/doc/*.pds
XSB/packages/xsbdoc/doc/*.pg
XSB/packages/xsbdoc/doc/*.pgs
XSB/packages/xsbdoc/doc/*.pl
XSB/packages/xsbdoc/doc/*.ps
XSB/packages/xsbdoc/doc/*.refs
XSB/packages/xsbdoc/doc/*.texic
XSB/packages/xsbdoc/doc/*.toc
XSB/packages/xsbdoc/doc/*.tp
XSB/packages/xsbdoc/doc/*.tps
XSB/packages/xsbdoc/doc/*.vr
XSB/packages/xsbdoc/doc/*.vrs
XSB/packages/xsbdoc/doc/*XXXXXX
XSB/prolog-commons/*.xwam
XSB/site
XSB/syslib/ChangeLog
XSB/syslib/cmd...
XSB/syslib/o.diff
XSB/syslib/objfiles.saved
XSB/tests
altmttest/basic_tests/#*
altmttest/basic_tests/*$
altmttest/basic_tests/*.BAK
altmttest/basic_tests/*.Z
altmttest/basic_tests/*.bak
altmttest/basic_tests/*.gz
altmttest/basic_tests/*.o
altmttest/basic_tests/*.rej
altmttest/basic_tests/*.so
altmttest/basic_tests/*.xwam
altmttest/basic_tests/*_new*
altmttest/basic_tests/*~
altmttest/basic_tests/,*
altmttest/basic_tests/.#a
altmttest/basic_tests/CVS
altmttest/basic_tests/_*
altmttest/basic_tests/core
altmttest/basic_tests/temp
mttests/assert_tests/*.O
mttests/assert_tests/*.xwam
mttests/assert_tests/*temp*
mttests/benches/prolog_benches/*.xwam
mttests/benches/shared_benches/*.xwam
mttests/benches/synth_benches/*.xwam
mttests/benches/tab_benches/*.xwam
mttests/io_tests/*.O
mttests/io_tests/*.xwam
mttests/io_tests/temp*
mttests/prolog_tests/*.O
mttests/prolog_tests/*.xwam
mttests/prolog_tests/*_temp.*
mttests/prolog_tests/temp_*
mttests/symbol_tests/*.O
mttests/symbol_tests/*.xwam
mttests/symbol_tests/*_temp.*
mttests/symbol_tests/temp_*
mttests/table_tests/*.xwam
mttests/table_tests/*_new
xsbtests/#*
xsbtests/*$
xsbtests/*.BAK
xsbtests/*.Z
xsbtests/*.bak
xsbtests/*.gz
xsbtests/*.o
xsbtests/*.rej
xsbtests/*.so
xsbtests/*.xwam
xsbtests/*_new*
xsbtests/*~
xsbtests/,*
xsbtests/.#a
xsbtests/CVS
xsbtests/_*
xsbtests/ai_tests/#*
xsbtests/ai_tests/*$
xsbtests/ai_tests/*.BAK
xsbtests/ai_tests/*.Z
xsbtests/ai_tests/*.bak
xsbtests/ai_tests/*.gz
xsbtests/ai_tests/*.o
xsbtests/ai_tests/*.rej
xsbtests/ai_tests/*.so
xsbtests/ai_tests/*.xwam
xsbtests/ai_tests/*_new*
xsbtests/ai_tests/*~
xsbtests/ai_tests/,*
xsbtests/ai_tests/.#a
xsbtests/ai_tests/CVS
xsbtests/ai_tests/_*
xsbtests/ai_tests/core
xsbtests/ai_tests/temp
xsbtests/attv_tests/#*
xsbtests/attv_tests/*$
xsbtests/attv_tests/*.BAK
xsbtests/attv_tests/*.Z
xsbtests/attv_tests/*.bak
xsbtests/attv_tests/*.gz
xsbtests/attv_tests/*.o
xsbtests/attv_tests/*.rej
xsbtests/attv_tests/*.so
xsbtests/attv_tests/*.xwam
xsbtests/attv_tests/*_new*
xsbtests/attv_tests/*~
xsbtests/attv_tests/,*
xsbtests/attv_tests/.#a
xsbtests/attv_tests/CVS
xsbtests/attv_tests/_*
xsbtests/attv_tests/core
xsbtests/attv_tests/temp
xsbtests/basic_tests/#*
xsbtests/basic_tests/*$
xsbtests/basic_tests/*.BAK
xsbtests/basic_tests/*.Z
xsbtests/basic_tests/*.bak
xsbtests/basic_tests/*.gz
xsbtests/basic_tests/*.o
xsbtests/basic_tests/*.rej
xsbtests/basic_tests/*.so
xsbtests/basic_tests/*.xwam
xsbtests/basic_tests/*_new*
xsbtests/basic_tests/*~
xsbtests/basic_tests/,*
xsbtests/basic_tests/.#a
xsbtests/basic_tests/CVS
xsbtests/basic_tests/_*
xsbtests/basic_tests/core
xsbtests/basic_tests/temp
xsbtests/benches/prolog_benches/*.xwam
xsbtests/benches/synth_benches/*.xwam
xsbtests/benches/synth_benches/*_new*
xsbtests/benches/synth_benches/CVS
xsbtests/benches/xmc/*.xwam
xsbtests/benches/xmc/*_new*
xsbtests/benches/xmc/CVS
xsbtests/cdf_tests/#*
xsbtests/cdf_tests/*.stackdump
xsbtests/cdf_tests/*.xwam
xsbtests/cdf_tests/*outdir*
xsbtests/cdf_tests/temp_testdir
xsbtests/compiler_tests/#*
xsbtests/compiler_tests/*$
xsbtests/compiler_tests/*.BAK
xsbtests/compiler_tests/*.Z
xsbtests/compiler_tests/*.bak
xsbtests/compiler_tests/*.gz
xsbtests/compiler_tests/*.o
xsbtests/compiler_tests/*.rej
xsbtests/compiler_tests/*.so
xsbtests/compiler_tests/*.xwam
xsbtests/compiler_tests/*_new*
xsbtests/compiler_tests/*~
xsbtests/compiler_tests/,*
xsbtests/compiler_tests/.#a
xsbtests/compiler_tests/CVS
xsbtests/compiler_tests/_*
xsbtests/compiler_tests/core
xsbtests/compiler_tests/temp
xsbtests/constraint_tests/*.o
xsbtests/constraint_tests/*.xwam
xsbtests/constraint_tests/*_new
xsbtests/constraint_tests/cvarconstr.exe
xsbtests/core
xsbtests/delay_tests/#*
xsbtests/delay_tests/*$
xsbtests/delay_tests/*.BAK
xsbtests/delay_tests/*.Z
xsbtests/delay_tests/*.bak
xsbtests/delay_tests/*.gz
xsbtests/delay_tests/*.o
xsbtests/delay_tests/*.rej
xsbtests/delay_tests/*.so
xsbtests/delay_tests/*.xwam
xsbtests/delay_tests/*_new*
xsbtests/delay_tests/*~
xsbtests/delay_tests/,*
xsbtests/delay_tests/.#a
xsbtests/delay_tests/CVS
xsbtests/delay_tests/_*
xsbtests/delay_tests/core
xsbtests/delay_tests/temp
xsbtests/float_tests/#*
xsbtests/float_tests/*$
xsbtests/float_tests/*.BAK
xsbtests/float_tests/*.Z
xsbtests/float_tests/*.bak
xsbtests/float_tests/*.gz
xsbtests/float_tests/*.o
xsbtests/float_tests/*.rej
xsbtests/float_tests/*.so
xsbtests/float_tests/*.xwam
xsbtests/float_tests/*_new*
xsbtests/float_tests/*~
xsbtests/float_tests/,*
xsbtests/float_tests/.#a
xsbtests/float_tests/CVS
xsbtests/float_tests/_*
xsbtests/float_tests/core
xsbtests/float_tests/temp
xsbtests/flora_tests/#*
xsbtests/flora_tests/*$
xsbtests/flora_tests/*.BAK
xsbtests/flora_tests/*.Z
xsbtests/flora_tests/*.bak
xsbtests/flora_tests/*.gz
xsbtests/flora_tests/*.o
xsbtests/flora_tests/*.rej
xsbtests/flora_tests/*.so
xsbtests/flora_tests/*.xwam
xsbtests/flora_tests/*_new*
xsbtests/flora_tests/*~
xsbtests/flora_tests/,*
xsbtests/flora_tests/.#a
xsbtests/flora_tests/CVS
xsbtests/flora_tests/_*
xsbtests/flora_tests/apptests/*.P
xsbtests/flora_tests/apptests/*.fdb
xsbtests/flora_tests/apptests/*.fld
xsbtests/flora_tests/apptests/*.xwam
xsbtests/flora_tests/apptests/*_new
xsbtests/flora_tests/apptests/programs/*.P
xsbtests/flora_tests/apptests/programs/*.fdb
xsbtests/flora_tests/apptests/programs/*.fld
xsbtests/flora_tests/apptests/programs/*.xwam
xsbtests/flora_tests/apptests/programs/*_new
xsbtests/flora_tests/apptests/programs/temp
xsbtests/flora_tests/apptests/temp
xsbtests/flora_tests/core
xsbtests/flora_tests/datafiles/*.P
xsbtests/flora_tests/datafiles/*.fdb
xsbtests/flora_tests/datafiles/*.fld
xsbtests/flora_tests/datafiles/*.xwam
xsbtests/flora_tests/general_tests/*.P
xsbtests/flora_tests/general_tests/*.fdb
xsbtests/flora_tests/general_tests/*.fld
xsbtests/flora_tests/general_tests/*.xwam
xsbtests/flora_tests/general_tests/*_new
xsbtests/flora_tests/general_tests/temp
xsbtests/flora_tests/lock.*
xsbtests/flora_tests/pending_bugs/*.fdb
xsbtests/flora_tests/pending_bugs/*.fld
xsbtests/flora_tests/pending_bugs/*.xwam
xsbtests/flora_tests/pending_bugs/temp
xsbtests/flora_tests/pending_bugs/temp1
xsbtests/flora_tests/temp
xsbtests/foreign_tests/*.exe
xsbtests/foreign_tests/*.o
xsbtests/foreign_tests/*.so
xsbtests/foreign_tests/*.xwam
xsbtests/foreign_tests/*_new
xsbtests/incremental_tests/*.xwam
xsbtests/incremental_tests/*_new
xsbtests/io_tests/#*
xsbtests/io_tests/*$
xsbtests/io_tests/*.BAK
xsbtests/io_tests/*.Z
xsbtests/io_tests/*.bak
xsbtests/io_tests/*.gz
xsbtests/io_tests/*.o
xsbtests/io_tests/*.rej
xsbtests/io_tests/*.so
xsbtests/io_tests/*.xwam
xsbtests/io_tests/*_new*
xsbtests/io_tests/*~
xsbtests/io_tests/,*
xsbtests/io_tests/.#a
xsbtests/io_tests/CVS
xsbtests/io_tests/_*
xsbtests/io_tests/core
xsbtests/io_tests/temp
xsbtests/lock.*
xsbtests/neg_tests/#*
xsbtests/neg_tests/*$
xsbtests/neg_tests/*.BAK
xsbtests/neg_tests/*.Z
xsbtests/neg_tests/*.bak
xsbtests/neg_tests/*.gz
xsbtests/neg_tests/*.o
xsbtests/neg_tests/*.rej
xsbtests/neg_tests/*.so
xsbtests/neg_tests/*.xwam
xsbtests/neg_tests/*_new*
xsbtests/neg_tests/*~
xsbtests/neg_tests/,*
xsbtests/neg_tests/.#a
xsbtests/neg_tests/CVS
xsbtests/neg_tests/_*
xsbtests/neg_tests/core
xsbtests/neg_tests/temp
xsbtests/nonmt_tests/*.xwam
xsbtests/nonmt_tests/*_new
xsbtests/prolog_tests/#*
xsbtests/prolog_tests/*$
xsbtests/prolog_tests/*.BAK
xsbtests/prolog_tests/*.Z
xsbtests/prolog_tests/*.bak
xsbtests/prolog_tests/*.def
xsbtests/prolog_tests/*.dll
xsbtests/prolog_tests/*.dylib
xsbtests/prolog_tests/*.exe
xsbtests/prolog_tests/*.gz
xsbtests/prolog_tests/*.o
xsbtests/prolog_tests/*.rej
xsbtests/prolog_tests/*.so
xsbtests/prolog_tests/*.xwam
xsbtests/prolog_tests/*_new*
xsbtests/prolog_tests/*~
xsbtests/prolog_tests/,*
xsbtests/prolog_tests/.#a
xsbtests/prolog_tests/CVS
xsbtests/prolog_tests/_*
xsbtests/prolog_tests/core
xsbtests/prolog_tests/parmod_tests/*.xwam
xsbtests/prolog_tests/parmod_tests/pm_subdir/*.xwam
xsbtests/prolog_tests/second_foreign.exp
xsbtests/prolog_tests/second_foreign.lib
xsbtests/prolog_tests/temp
xsbtests/prolog_tests/temp_charset
xsbtests/prolog_tests/tempfile.P
xsbtests/prolog_tests/xeddis.exp
xsbtests/prolog_tests/xeddis.lib
xsbtests/prolog_tests/xsb_wrap_*
xsbtests/prolog_tests/zero.exp
xsbtests/prolog_tests/zero.lib
xsbtests/ptq/#*
xsbtests/ptq/*$
xsbtests/ptq/*.BAK
xsbtests/ptq/*.Z
xsbtests/ptq/*.bak
xsbtests/ptq/*.gz
xsbtests/ptq/*.o
xsbtests/ptq/*.rej
xsbtests/ptq/*.so
xsbtests/ptq/*.xwam
xsbtests/ptq/*_new*
xsbtests/ptq/*~
xsbtests/ptq/,*
xsbtests/ptq/.#a
xsbtests/ptq/CVS
xsbtests/ptq/_*
xsbtests/ptq/core
xsbtests/ptq/temp
xsbtests/regmatch_tests/#*
xsbtests/regmatch_tests/*$
xsbtests/regmatch_tests/*.BAK
xsbtests/regmatch_tests/*.Z
xsbtests/regmatch_tests/*.bak
xsbtests/regmatch_tests/*.gz
xsbtests/regmatch_tests/*.o
xsbtests/regmatch_tests/*.rej
xsbtests/regmatch_tests/*.so
xsbtests/regmatch_tests/*.xwam
xsbtests/regmatch_tests/*_new*
xsbtests/regmatch_tests/*~
xsbtests/regmatch_tests/,*
xsbtests/regmatch_tests/.#a
xsbtests/regmatch_tests/CVS
xsbtests/regmatch_tests/_*
xsbtests/regmatch_tests/core
xsbtests/regmatch_tests/temp
xsbtests/retract_tests/#*
xsbtests/retract_tests/*$
xsbtests/retract_tests/*.BAK
xsbtests/retract_tests/*.Z
xsbtests/retract_tests/*.bak
xsbtests/retract_tests/*.gz
xsbtests/retract_tests/*.o
xsbtests/retract_tests/*.rej
xsbtests/retract_tests/*.so
xsbtests/retract_tests/*.xwam
xsbtests/retract_tests/*_new*
xsbtests/retract_tests/*~
xsbtests/retract_tests/,*
xsbtests/retract_tests/.#a
xsbtests/retract_tests/CVS
xsbtests/retract_tests/_*
xsbtests/retract_tests/core
xsbtests/retract_tests/temp
xsbtests/sem_tests/#*
xsbtests/sem_tests/*$
xsbtests/sem_tests/*.BAK
xsbtests/sem_tests/*.Z
xsbtests/sem_tests/*.bak
xsbtests/sem_tests/*.gz
xsbtests/sem_tests/*.o
xsbtests/sem_tests/*.rej
xsbtests/sem_tests/*.so
xsbtests/sem_tests/*.xwam
xsbtests/sem_tests/*_new*
xsbtests/sem_tests/*~
xsbtests/sem_tests/,*
xsbtests/sem_tests/.#a
xsbtests/sem_tests/CVS
xsbtests/sem_tests/_*
xsbtests/sem_tests/core
xsbtests/sem_tests/temp
xsbtests/sem_tests/tests/#*
xsbtests/sem_tests/tests/*$
xsbtests/sem_tests/tests/*.BAK
xsbtests/sem_tests/tests/*.Z
xsbtests/sem_tests/tests/*.bak
xsbtests/sem_tests/tests/*.gz
xsbtests/sem_tests/tests/*.o
xsbtests/sem_tests/tests/*.rej
xsbtests/sem_tests/tests/*.so
xsbtests/sem_tests/tests/*.xwam
xsbtests/sem_tests/tests/*_new*
xsbtests/sem_tests/tests/*~
xsbtests/sem_tests/tests/,*
xsbtests/sem_tests/tests/.#a
xsbtests/sem_tests/tests/CVS
xsbtests/sem_tests/tests/_*
xsbtests/sem_tests/tests/core
xsbtests/sem_tests/tests/temp
xsbtests/socket_tests/#*
xsbtests/socket_tests/*$
xsbtests/socket_tests/*.BAK
xsbtests/socket_tests/*.Z
xsbtests/socket_tests/*.bak
xsbtests/socket_tests/*.gz
xsbtests/socket_tests/*.o
xsbtests/socket_tests/*.rej
xsbtests/socket_tests/*.so
xsbtests/socket_tests/*.xwam
xsbtests/socket_tests/*_new*
xsbtests/socket_tests/*~
xsbtests/socket_tests/,*
xsbtests/socket_tests/.#a
xsbtests/socket_tests/CVS
xsbtests/socket_tests/_*
xsbtests/socket_tests/auxiliary/#*
xsbtests/socket_tests/auxiliary/*$
xsbtests/socket_tests/auxiliary/*.BAK
xsbtests/socket_tests/auxiliary/*.Z
xsbtests/socket_tests/auxiliary/*.bak
xsbtests/socket_tests/auxiliary/*.gz
xsbtests/socket_tests/auxiliary/*.o
xsbtests/socket_tests/auxiliary/*.rej
xsbtests/socket_tests/auxiliary/*.so
xsbtests/socket_tests/auxiliary/*.xwam
xsbtests/socket_tests/auxiliary/*_new*
xsbtests/socket_tests/auxiliary/*~
xsbtests/socket_tests/auxiliary/,*
xsbtests/socket_tests/auxiliary/.#a
xsbtests/socket_tests/auxiliary/CVS
xsbtests/socket_tests/auxiliary/_*
xsbtests/socket_tests/auxiliary/core
xsbtests/socket_tests/auxiliary/temp
xsbtests/socket_tests/core
xsbtests/socket_tests/temp
xsbtests/sub_tests/#*
xsbtests/sub_tests/*$
xsbtests/sub_tests/*.BAK
xsbtests/sub_tests/*.Z
xsbtests/sub_tests/*.bak
xsbtests/sub_tests/*.gz
xsbtests/sub_tests/*.o
xsbtests/sub_tests/*.rej
xsbtests/sub_tests/*.so
xsbtests/sub_tests/*.xwam
xsbtests/sub_tests/*_new*
xsbtests/sub_tests/*~
xsbtests/sub_tests/,*
xsbtests/sub_tests/.#a
xsbtests/sub_tests/CVS
xsbtests/sub_tests/Data/#*
xsbtests/sub_tests/Data/*$
xsbtests/sub_tests/Data/*.BAK
xsbtests/sub_tests/Data/*.Z
xsbtests/sub_tests/Data/*.bak
xsbtests/sub_tests/Data/*.gz
xsbtests/sub_tests/Data/*.o
xsbtests/sub_tests/Data/*.rej
xsbtests/sub_tests/Data/*.so
xsbtests/sub_tests/Data/*.xwam
xsbtests/sub_tests/Data/*_new*
xsbtests/sub_tests/Data/*~
xsbtests/sub_tests/Data/,*
xsbtests/sub_tests/Data/.#a
xsbtests/sub_tests/Data/CVS
xsbtests/sub_tests/Data/_*
xsbtests/sub_tests/Data/core
xsbtests/sub_tests/Data/temp
xsbtests/sub_tests/Programs/#*
xsbtests/sub_tests/Programs/*$
xsbtests/sub_tests/Programs/*.BAK
xsbtests/sub_tests/Programs/*.Z
xsbtests/sub_tests/Programs/*.bak
xsbtests/sub_tests/Programs/*.gz
xsbtests/sub_tests/Programs/*.o
xsbtests/sub_tests/Programs/*.rej
xsbtests/sub_tests/Programs/*.so
xsbtests/sub_tests/Programs/*.xwam
xsbtests/sub_tests/Programs/*_new*
xsbtests/sub_tests/Programs/*~
xsbtests/sub_tests/Programs/,*
xsbtests/sub_tests/Programs/.#a
xsbtests/sub_tests/Programs/CVS
xsbtests/sub_tests/Programs/_*
xsbtests/sub_tests/Programs/core
xsbtests/sub_tests/Programs/temp
xsbtests/sub_tests/_*
xsbtests/sub_tests/core
xsbtests/sub_tests/temp
xsbtests/table_tests/#*
xsbtests/table_tests/*$
xsbtests/table_tests/*.BAK
xsbtests/table_tests/*.Z
xsbtests/table_tests/*.bak
xsbtests/table_tests/*.gz
xsbtests/table_tests/*.o
xsbtests/table_tests/*.rej
xsbtests/table_tests/*.so
xsbtests/table_tests/*.xwam
xsbtests/table_tests/*_new*
xsbtests/table_tests/*~
xsbtests/table_tests/,*
xsbtests/table_tests/.#a
xsbtests/table_tests/CVS
xsbtests/table_tests/_*
xsbtests/table_tests/actions_jxm.P
xsbtests/table_tests/core
xsbtests/table_tests/temp
xsbtests/temp
xsbtests/wfs_tests/#*
xsbtests/wfs_tests/*$
xsbtests/wfs_tests/*.BAK
xsbtests/wfs_tests/*.Z
xsbtests/wfs_tests/*.bak
xsbtests/wfs_tests/*.gz
xsbtests/wfs_tests/*.o
xsbtests/wfs_tests/*.rej
xsbtests/wfs_tests/*.so
xsbtests/wfs_tests/*.xwam
xsbtests/wfs_tests/*_new*
xsbtests/wfs_tests/*~
xsbtests/wfs_tests/,*
xsbtests/wfs_tests/.#a
xsbtests/wfs_tests/CVS
xsbtests/wfs_tests/_*
xsbtests/wfs_tests/core
xsbtests/wfs_tests/temp

